.projects {
    height: 100vh;
    background-color: #2C3333;
    display: flex;
    color: white;
    justify-content: space-between;

    .left {
       display: flex;
       justify-content: center;
       width: 50%;
       margin: 100px 100px;
        .person {
            border-radius: 20px;
            width: 550px;
            height: 400px;
            margin-left: 50px;

        }
        .persons {
            position: absolute;
            margin: 330px 0px 0px 550px ;
            width: 70px;
            height: 70px;
            z-index: 2;
        }

        .perX {
            position: absolute;
            width: 80px;
            height: 80px;

            .per {
                width: 180px;
                height: 180px;
                background-color: white;
                margin: 280px 0px 0px 220px ;
                border-radius: 50%;
                animation: rotation 6s infinite linear
            }
            @keyframes rotation {
          from {
     transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
        }
    }

    .right {
        display: flex;
        width: 50%;
        flex-direction: column;
        margin: 100px 100px;

        h1 {
            color: #0E8388;
        }
         h3 {
            font-weight: bold;
            color: #CBE4DE;
         }

         p {
            width: 400px;
            color: #CBE4DE;
         }
    }

}