.projects {
    height: 100vh;
    background-color: #2C3333;
    display: flex;
    flex-direction: column;
    color: white;

    .desc {
        display: flex;
        justify-content: space-between;

        .title {
            justify-content: center;
            align-items: center;
            font-size: 68px;
            margin-left: 40px;
            color: #CBE4DE;
        }
        .des {
            width: 500px;
            margin-top: 60px;
            color: #CBE4DE;
        }
    }

    .points {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
       margin: 180px 20px;

       .pointList {
        width: 400px;

        .dd {
            color: #0E8388;
        }
       }
       .pointList>small {
        color: #CBE4DE;
       }
    }
}