@import "../../global.scss";

.portfolio {
    width: 100%;
    height: auto;
    background-color: #{$darkgrey} ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
    //overflow: hidden;
    padding-bottom: 50px;
    font-family: nunito, sans-serif;
    overflow-x: hidden;

    @include Tab {
        height: auto;
        padding-bottom: 50px;
    }


    

    .content {
        color: #{$textcolor};
        display: flex;
       // margin-right: 250px;
        flex-direction: column;
        font-family: nunito, sans-serif;

        @include Tab {
            margin-right: 0px;
            height: 30px;
        }

        @include mobile {
            width: 340px;
        }

        p {
            font-size: 32px;

            @include Tab {
                font-size: 22px;
            }
            
        }

        span {
            display: flex;
            font-size: 16px;
            align-items: center;
            font-family: nunito, sans-serif;

            @include Tab {
                font-size: 16px;
            }

            .iccc {
                margin-left: 10px;
                color: greenyellow;
            }
        }

    }
    .porto {
        width: 1000px;
        height: 440px;
        display: flex;
        background-color: #{$lightgray};
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 50px;
        font-family: nunito, sans-serif;

        @include Tab {
            height: 300px;
            width: calc(100% - 30vw);
            margin-top: 20px;
            display: flex;
            justify-content: center;
           
            
        }

        @include mobile {
            height: 200px;
            width: 340px;
        }
    
        .pImg {
    width: 500px;
    height: 350px;
    background-color: #{$lightgray};
    margin: 50px 40px;
    border-radius: 5px;
    overflow: hidden;

    @include Tab {
        width: 500px;
        height: 180px;
        overflow: hidden;
    }
    @include mobile {
        height: 160px;
        width: 300px;
        margin: 0px 10px;
    }

    
    
    
    
    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: none;
        position: relative;
       // transform: translateY(0%);
        
       @include Tab {
        width: 100%;
        height: auto;
        position: relative;
    }
    @include mobile {
        height: 150px;
        width: 170px;
       margin-top: 20px;
    }

    }
    img:hover {
    animation: mymove 3s ease-in-out;
    }
    
    @keyframes mymove {
        from {top: -120px;}
        to {top: 0px;}
      }
        }
    
        .pText {
            width: 300px;
    height: 350px;
    background-color: #{$lightgray};
    //margin: 50px 40px;
    border-radius: 5px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: nunito, sans-serif;

    @include Tab {
        width: 200px;
        height: 250px;
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    }
    @include mobile {
        height: 150px;
        width: 90px;
        border-radius: 20px;
    }

            h2{
                
                color: #{$textcolor};
                font-family: nunito, sans-serif;
                
                @include Tab {
                    font-size: 12px;
                    width: 200px;
                    margin-left: 100px;
                }
                @include mobile {
                    font-size: 12px;
                }
            
                
    
                .icon {
                    margin-left: 5px;
                    margin-top: 3px;
                    color: #{$textcolor};
                    @include Tab {
                        width: 15px;
                        height: 15px;
                    }
                }

            }
            .pTex{
                color: #{$textcolor};
                font-family: nunito, sans-serif;

                @include Tab {
                    font-size: 12px;
                }

                @include mobile {
                    display: none;
                }
             
                
            }
    
            .stack {
                display: flex;
                color: #{$textcolor};
                width: 300px;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-family: nunito, sans-serif;
                
                
                
                
    
                p{
                   //margin-left: 5px;
                   background-color: #{$mediumgray};
                   padding: 6px 15px;
                   border-radius: 5px;
                   font-size: 18px;
                   transition: transform .3s ease-in;
                   font-family: nunito, sans-serif;

                   @include Tab {
                    font-size: 12px;
                    padding: 6px 15px;
                }

                @include mobile {
                    font-size: 12px;
                    padding: 3px 8px;
                }

                &:hover {
                    transform: translateY(-3px);

                }
                  
                }
            }
    
            .links {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                @include Tab {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-left: 0px;
                }
                @include mobile {
                    font-size: 8px;
                    padding: 3px 8px;
                }
               
                
                
    
                a {
                    background-color: #{$mediumgray};
                    padding: 6px 15px;
                    font-size: 18px;
                    font-weight: bold;
                    text-decoration: none;
                    color: #{$textcolor};
                    margin-right: 10px;
                    border-radius: 5px;
                    transition: transform .3s ease-in;

                    @include Tab {
                        font-size: 10px;
                        padding: 3px 30px;
                        border-radius: 5px;
                        margin-left: 10px;
                    }
                    @include mobile {
                        font-size: 8px;
                        padding: 3px 8px;
                    }
                    &:hover {
                        transform: translateY(-3px);
    
                    }
    
                    .ico {
                        margin-left: 5px;
                        width: 16px;
                        height: 16px;

                        @include Tab {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }
}