.skill {
    height: 100vh;
    background-color: #2C3333;
    display: flex;
    flex-direction: column;

    .title {
        font-size: 32px;
        margin-left: 590px;
    }

    .proSt {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;

        .pro {
            width: 550px;
            background-color: white;
            height: 350px;

            .proImg {
                width: 550px;
                height: 350px;
                opacity: 0.8;
            }
        }

        .proS {
            width: 550px;
            background-color: white;
            height: 350px;

            .prosImg {
                width: 550px;
                height: 350px;
                opacity: 0.8;
            }
        }
    }
}