@import '../../global.scss';


.container {
    display: flex;
    background-color: #{$darkgrey};
    width: 100vw;
    height: 100vh;
    z-index: 990;

    @include mobile {
        align-items: center;
    }
  
    
    
    .left{
         display: flex;
         flex-direction: column;
         height: 100vh;
         width: 60vw;
        

         .orangename {
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-size: 45px;
            margin: 200px 0 0 90px;
            width: 50vw;
            @include mobile {
                font-size: 22px;
                margin: 250px 0px 0px 50px;
                
             }
            
        }    
        .ico {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            padding: 10px 10px;

            @include mobile {
                width: 20px;
                height: 20px;
                
             }
        }

        .text {

            //display: flex;
            font-size: 32px;
            color: #d4d4d4;
            padding: 50px;
            margin-left: 43px;

            @include mobile {
                font-size: 18px;
                padding: 20px 50px ;
                  
               }

        }

        

            
         }


        a {
            display: flex;
            align-items: center;
            padding: 20px 50px;
            text-decoration: none;

            @include mobile {
                margin: 20px 0px;
            }

            .btn {
                padding: 15px 18px;
                border-radius: 5px;
                border: none;
                font-weight: bold;
                margin-left: 43px;
                font-size: 14px;
                transition: transform .3s ease-in;
                
                &:hover {
                    background-color: #{$lightgray};
                    transform: translateY(-3px);
                    color: rgb(255, 255, 255);
                 }

                @include mobile {
                    font-size: 8px;
                    border: none;
                    padding: 5px 5px;
                    margin: 20px 50px;

                    
                    
                 }

                
            }
        }

        .skills {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 270px;
            width: 60vw;

           

            @include mobile {
                margin: 0px 50px;
            }

            p {
                font-size: 32px;
                color: #CBE4DE;
                margin-top: 130px;

                @include mobile {
                    font-size: 14px;
                    
                    
                   
                }
            }

            .logos {
                display: flex;
               

                .ulI {
                    display: flex;
                    list-style: none;
                    gap: 10px;
                }
                .lImg {
                    width: 50px;
                    height: 50px;
                    background-color: #000000;
                    border-radius: 50px;
                    transition: transform .3s ease-in;
                    margin-top: 100px;

                    &:hover {
                        transform: translateY(-8px);
                    }

                    @include mobile {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .right {
        display: flex;
        height: 75vh;
        width: 40vw;
        justify-content: center;
        align-items: center;

        @include mobile {
            display: flex;
            height: 20vh;
            width: 20vw;
        }

        canvas {
            margin-top: 80px;
        }

        img {
            width: 300px;
            height: 300px;
            position: absolute;
            margin-top: 100px;
            
            animation: transform 3s ease-in infinite alternate;
        }

        @keyframes transform {
            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(40px);
            }
            
        }
    }
    
    


