.navbar {
    display: flex;
    background: rgb(0, 0, 0);
   // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgb(42, 42, 42) 100%);
    color: rgb(255, 255, 255);
    width: 100vw;
    //background-image: linear-gradient(rgb(0, 0, 0), rgb(60, 60, 60), rgb(0, 0, 0));
    height: 70px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0;
    position: fixed;
    z-index: 999;
    
    .left {
        margin-left: 40px;
        //align-items: center;

        .logo {
            font-size: 22px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #f3f4f6;
            
        }

        .link {
            margin-right: 35px;
            font-size: 16px;

        }

        .icon{
            font-size: 16px;
            color: #ff7f02;
            font-weight: 250;
            margin-right: 350px;
        }
    }
    .right {
        

        .click {
            margin-right: 90px;
            border: 1px solid #f3f4f6;
            padding: 7px 12px;
            border-radius: 10px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            background: black;
            color: #fffefe;
            font-size: 15px;
        }   
    }
}