.porto {
    width: 100%;
    height: 440px;
    display: flex;
    background-color: #f9f9f9;
    display: flex;
    overflow-x: hidden;
    border-radius: 20px;
    margin-top: 20px;

    .pImg {
width: 500px;
height: 350px;
background-color: #f9f9f9;
margin: 50px 0px;
border-radius: 20px;
overflow: hidden;




img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    border: none;
    position: relative;
   // transform: translateY(0%);
    
    
}
img:hover {
animation: mymove 3s ease-in-out;
}

@keyframes mymove {
    from {top: -250px;}
    to {top: 0px;}
  }
    }

    .pText {
        width: 500px;
height: 350px;
background-color: #f9f9f9;
//margin: 50px 40px;
border-radius: 20px;
padding: 40px 50px;
display: flex;
flex-direction: column;
align-items: center;

        h2{
            //margin-left: 80px;
            color: rgb(0, 0, 0);
            
            //align-items: center;
            

            .icon {
                margin-left: 5px;
                margin-top: 3px;
                color: rgb(0, 0, 0);
            }
        }
        .pTex{
            margin-left: 0px;
            
            
        }

        .stack {
            display: flex;
            color: black;
            
            

            p{
               background-color: white;
               border-radius: 20px;
               font-weight: bold;
               display: flex;
              
            }
        }

        .links {
            display: flex;
            
            

            a {
                background-color: #f9f9f9;
               // margin-right: 5px;
                //margin-left: 15px;
                padding: 0px 15px;
                font-size: 10px;
                font-weight: bold;
                text-decoration: none;
                color: rgb(0, 0, 0);

                .ico {
                    margin-left: 5px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}