@import "../../global.scss";

.footer {
    display: flex;
    height: 20vh;
    width: 100%;
    background-color: #293449;
    justify-content: space-around;
    flex-direction: column;
    overflow-x: hidden;
    

    @include mobile {
        width: 100%;
    }
    .news {
        display: flex;
        justify-content: space-between;  
        height: 20vh;
        align-items: center;
        font-family: nunito, sans-serif;
        
        .name {

            h2 {
                color: #{$textcolor};
                padding-left: 30px;
                font-size: 20px;
                font-family: nunito, sans-serif;

                @include mobile {
                   font-size: 16px;
                   padding: 10px;
                }
                
            }

        }
        .icons {
            display: flex;
            justify-content: space-around;

            @include Tab {
                margin-right: 50px;
            }
            
            .icon {
                background-color: #{$mediumgray};
                color: rgb(0, 0, 0);
                width: 20px;
                height: 20px;
                padding: 10px;
                border-radius: 50%;
                margin: 0px 10px;

                @include Tab {
                    margin: 0px 20px;
                }
            }
        }
    }
}