.forminput {
    display: flex;
    margin: 0px 20px;
    flex-direction: column;
    margin: 10px 200px;



    input {
        padding: 15px;
        margin: 10px 0px;
        width: 400px;
        //border: 1px solid #ff7f02;
    }
    label {
        font-size: 26px;
        color: #f4f5f6;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        
        .ico {
            color: #ff7f02;
            height: 15px;
        }
        
    }

    
    
    span {
        font-size: 12px;
        padding: 3px;
        display: none;
    }

    input:invalid[focused= "true"] ~ span {
        display: block;
        color: red;
    }
}